/* 
bg-color-primary #2196F3 - голубой цвет фона
bg-color-secondary #F5F4FA  - серый цвет фона
text-color-primary #757575  - основной цвет фона
text-color-secondary #212121 - название кнопок и заголовков
text-color-activ #2196F3 - активный текст
 */

/* Стили ко всему документу */
:root {
  --bg-all-documents: #ffffff;
  --bg-color-primary: #2196f3;
  --bg-color-secondary: #f5f4fa;
  --text-color-btn-primary: #ffffff;
  --text-color-btn-secondary: #212121;
  --text-color-primary: #757575;
  --text-color-secondary: #212121;
  --text-color-active: #2196f3;
  
}

body {
  background-color: var(--bg-all-documents);
  color: var(--text-color-primary);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}

/* Стили для логотипа */
.logo {
  color: var(--text-color-secondary);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo span {
  color: var(--text-color-active);
}

/* Стили nav */
.site-nav .link {
  color: var(--text-color-secondary);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav li {
  list-style-type: none; /* Убираем маркеры */
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-color-active);
}
.site-nav .link.active {
  color: var(--text-color-active);
}

/* Contact */
.site-contact .mail,
.site-contact .phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-primary);
}
.site-contact li {
  list-style-type: none; /* Убираем маркеры */
}

.site-contact .mail:hover,
.site-contact .mail:focus,
.site-contact .phone:hover,
.site-contact .phone:focus {
  color: var(--text-color-active);
}

/* Button */
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}
.btn.primary {
  background-color: var(--bg-color-primary);
  color: var(--text-color-btn-primary);
}
.btn.secondary {
  background-color: var(--bg-color-secondary);
  color: var(--text-color-btn-secondary);
}
.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--bg-color-primary);
  color: var(--text-color-btn-primary);
}

/* Section baner */
.site-ban {
  background-color: #2f303a;
}
.site-ban h1 {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.site-ban .btn {
  font-weight: 700;
}

/* Section about us */
.site-about h2 {
  color: var(--text-color-secondary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  visibility: hidden;
}
.site-about h3 {
  color: var(--text-color-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.site-about p {
  font-size: 14px;
  line-height: 1.71;
}
.site-about li {
  list-style-type: none;
}

/* Section our comand */
.site-command {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.site-command h3 {
  color: var(--text-color-secondary);
  font-weight: 500;
}
.site-command li {
  list-style-type: none;
}
.site-command h2 {
  color: var(--text-color-secondary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Section work */
.site-work li {
  list-style-type: none;
}
.site-work h2 {
  color: var(--text-color-secondary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Section allwork on PORTFOLIO*/
.site-allwork h1 {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.site-allwork li {
  list-style-type: none;
}

/* Section project on PORTFOLIO */
.site-project a {
  text-decoration: none;
}
.site-project h4 {
  color: var(--text-color-secondary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.site-project p {
  color: var(--text-color-primary);
  font-size: 16px;
  line-height: 1.88;
}

/* footer */
.site-footer {
  background-color: #2f303a;
}
.site-footer li {
  list-style-type: none;
}
.footer-logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-logo span {
  color: var(--text-color-active);
}
.footer-contact .adress {
  color: #ffffff;
}
.footer-contact a {
  color: rgb(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact a:hover, .footer-contact a:focus{
  color: #ffffff;
}



